<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
<!--     <link rel="stylesheet" href="index.css">
    <script type="text/javascript" src="index.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Titel</title>
</head>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    hr {
        width: 500px;
    }

    #errors {
        color: coral;
    }

    #board {
        width: 450px;
        height: 450px;

        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .tile {
        width: 48px; 
        height: 48px;
        border: 1px solid lightgray;

        /* Text */
        font-size: 20px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #digits {
        width: 450px;
        height: 50px;

        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .number {
        width: 44px; 
        height: 44px;
        border: 1px solid black;
        margin: 2px;

        /* Text */
        font-size: 20px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .number-selected {
        background-color: gray;
    }

    .tile-start {
        background-color: whitesmoke;
    }

    .horizontal-line {
        border-bottom: 1px solid black;
    }

    .vertical-line {
        border-right: 1px solid black;
    }

    .sudoku-header {
        text-align: center;
    }

    .button-list {
        margin-bottom: 20px;
    } 
    
    .correct-answer {
        background-color: #d4ffd9;
    }

    .wrong-answer {
        background-color: #f9b1b1;
    }
    
    #confirmButton, #inputTAButton, #inputField {
        margin-top: 20px;
    }

    .form-control {
        width: 20%;
        margin: auto;
    }

    .flexbuttons {
        display: flex;
        justify-content: space-between;
    }
</style>

<script>
    var numSelected = null;
    var tileSelected = null;
    var solution = "";

    var createMode = false;
    var errors = 0;

    var board = [
        "..74916.5",
        "2...6.3.9",
        ".....7.1.",
        ".586....4",
        "..3....9.",
        "..62..187",
        "9.4.7...2",
        "67.83....",
        "81..45..."
    ]

    //8156....4\n6...75.8.\n....9....\n9...417..\n.4.....2.\n..623...8\n....5....\n.5.91...6\n1....7895
    //5...8..49\n...5...3.\n.673....1\n15.......\n...2.8...\n.......18\n7....415.\n.3...2...\n49..5...3
    //1....7.9.\n.3..2...8\n..96..5..\n..53..9..\n.1..8...2\n6....4...\n3......1.\n.4......7\n..7...3..
    //8..6..9.5\n.........\n....2.31.\n..7318.6.\n24.....73\n.........\n..279.1..\n5...8..36\n..3......
    //.26...81.\n3..7.8..6\n4...5...7\n.5.1.7.9.\n..39.51..\n.4.3.2.5.\n1...3...2\n5..2.4..9\n.38...46.
    var sdk1 = ["8156....4", "6...75.8.", "....9....", "9...417..", ".4.....2.", "..623...8", "....5....", ".5.91...6", "1....7895"];
    var sdk2 = ["5...8..49", "...5...3.", ".673....1", "15.......", "...2.8...", ".......18", "7....415.", ".3...2...", "49..5...3"];
    var sdk3 = ["1....7.9.", ".3..2...8", "..96..5..", "..53..9..", ".1..8...2", "6....4...", "3......1.", ".4......7", "..7...3.."];
    var sdk4 = ["8..6..9.5", ".........", "....2.31.", "..7318.6.", "24.....73", ".........", "..279.1..", "5...8..36", "..3......"];
    var sdk5 = [".26...81.", "3..7.8..6", "4...5...7", ".5.1.7.9.", "..39.51..", ".4.3.2.5.", "1...3...2", "5..2.4..9", ".38...46."];
    var boards = [sdk1, sdk2, sdk3, sdk3, sdk4, sdk5];

    window.onload = function() {
        setGame();
        solutionGenerate();
        $('#confirmButton').hide();
        $('#inputTAButton').hide();
        $('.inputFieldContainer').hide();
        
        //Enter create-Mode
        $('#createMode').click(function() {
            if (!createMode) {
                createMode = true;
                errors = 0;
                $('#errors').text(errors);                 
                clearBoard();
                $('#confirmButton').show();
                $('#inputTAButton').show();
            }
        });

        //Leave create-Mode
        $('#confirmButton').click(function() {
            if (createMode) {
                createMode = false;
                $('#confirmButton').hide();
                $('.inputFieldContainer').hide();
                $('#inputTAButton').hide(); 
                board = "";
                //getNewBoard
                let input = $('#inputField').val();
                if (input.length > 0) {
                    let tmp = input.toString().split("\\n");
                    board = tmp;
                    showBoard(board);
                    console.log(board);
                    solutionGenerate();
                    console.log(solution);                   
                }
                else {
                    let count = 0;
                    for (let r = 0; r < 9; r++) {
                        for (let c = 0; c < 9; c++) {
                            let tile = $("#"+r+"-"+c);             
                            if (tile.text().length == 0) {
                                board += ".";
                            }
                            else {
                                board += tile.text();
                                count += 1;
                            }                        
                        }
                        board += "\n";
                    }
                    board = board.split("\n");
                    board.pop();
                    console.log(board);
                    if (count == 0) {
                        return false;
                    }
                    solutionGenerate();
                    console.log(solution);
                }                 
            }
        });

        //Input text-area setup
        $('#inputTAButton').click(function() {
            if (createMode) {
                $('#inputTAButton').hide();
                $('.inputFieldContainer').show();            
            }
        });        

        //Demo-Play mode
        $('#playMode').click(function() {
            if (!createMode) {
                errors = 0;
                $('#errors').text(errors);        
                clearBoard();
                board = boards[Math.floor((Math.random()*boards.length))];
                showBoard(board);
                solutionGenerate();
            }
        });

        //New solution generated on changing the board
        $('#board').on('click', function() {
            if (!createMode) {
                solutionGenerate();
            }
            else {
                return false;
            }
        });

        //Solve the board
        $('#solve').click(function() {
            if (!createMode) {
                for (let r = 0; r < 9; r++) {
                    for (let c = 0; c < 9; c++) {
                        let tile = $("#"+r+"-"+c);             
                        if (tile.text().length == 0) {
                            tile.text(solution[r][c]);
                            if (!tile.hasClass('correct-answer')) {
                                tile.addClass('wrong-answer');
                                tile.css('background-color', '#f9b1b1');
                            }
                        }
                    }
                }
            }
            else {
                return false;
            }     
        });
    }

    function setGame() {
        // Digits 1-9
        for (let i = 1; i <= 9; i++) {
            //<div id="1" class="number">1</div>
            let number = document.createElement("div");
            number.id = i
            number.innerText = i;
            number.addEventListener("click", selectNumber);
            number.classList.add("number");
            document.getElementById("digits").appendChild(number);
        }

        // Board 9x9
        for (let r = 0; r < 9; r++) {
            for (let c = 0; c < 9; c++) {
                let tile = document.createElement("div");
                tile.id = r.toString() + "-" + c.toString();
                if (board[r][c] != ".") {
                    tile.innerText = board[r][c];
                    tile.classList.add("tile-start");
                }
                if (r == 2 || r == 5) {
                    tile.classList.add("horizontal-line");
                }
                if (c == 2 || c == 5) {
                    tile.classList.add("vertical-line");
                }
                tile.addEventListener("click", selectTile);
                tile.classList.add("tile");
                document.getElementById("board").append(tile);
            }
        }
    }

    function selectNumber(){
        if (numSelected != null) {
            numSelected.classList.remove("number-selected");
        }
        numSelected = this;
        numSelected.classList.add("number-selected");
    }

    function selectTile() {
        if (numSelected) {
            if (this.innerText != "") {
                return;
            }

            // "0-0" "0-1" .. "3-1"
            let coords = this.id.split("-"); //["0", "0"]
            let r = parseInt(coords[0]);
            let c = parseInt(coords[1]);

            if(!createMode)
            {
                if (solution[r][c] == numSelected.id) {
                    this.innerText = numSelected.id;
                    this.classList.add("correct-answer");
                    $(this).css('background-color', '#d4ffd9');
                }
                else {
                    errors += 1;
                    document.getElementById("errors").innerText = errors;
                }
            }
            else {
                this.innerText = numSelected.id;
            }
        }
    }

    function solutionGenerate() {
        solution = ""
        bdata = board.join("\n");
        $.ajax({
            type: 'post',
            url: '/solved',
            dataType: 'json',
            timeout: 120000,
            async: false,
            data: bdata,
            success: function (data) {
                console.log(data[0]);
                for (let row of data[0]) {
                    for (let elem of row) {
                        solution += elem[0];
                    }
                    solution += "\n";
                }  
                solution = solution.split("\n");
                solution.pop();
                console.log(solution);
            },
            error: function(xhr, status, error) {
                alert(xhr.responseText);
            }       
        });
    }
    
    function clearBoard() {
        for (let r = 0; r < 9; r++) {
            for (let c = 0; c < 9; c++) {
                let tile = $("#"+r+"-"+c);             
                if (tile.text().length != 0) {
                    tile.text("");
                    tile.css('background-color', 'white');
                }
                if (tile.hasClass('correct-answer')) {
                    tile.removeClass('correct-answer');
                }
                if (tile.hasClass('wrong-answer')) {
                    tile.removeClass('wrong-answer');
                }
            }
        }           
    }

    function showBoard(board) {
        for (let r = 0; r < 9; r++) {
            for (let c = 0; c < 9; c++) {
                let tile = $("#"+r+"-"+c);
                if (board[r][c] != ".") {             
                    tile.text(board[r][c]);
                    tile.css('background-color', 'whitesmoke');
                }
            }
        }        
    }
    
</script>

<body>
    <div class="sudoku-header">
        <h1>Sudoku</h1>
        <hr>
        <h2 id="errors">0</h2>
        <div class="button-list">
            <button type="button" class="btn btn-secondary" id="createMode">Create</button>
            <button type="button" class="btn btn-success" id="playMode">Play</button>
            <button type="button" class="btn btn-primary" id="solve">Solve</button>
        </div>
    </div>
    <!-- 9x9 board -->
    <div id="board"></div>
    <br>
    <div id="digits">
    </div>
    <div id="footer-button row flexbuttons">
        <button type="button" class="btn btn-secondary" id="confirmButton">Confirm</button>
        <button type="button" class="btn btn-warning" id="inputTAButton">Inputfield</button>

    </div>
    <div class="form-group inputFieldContainer">
        <textarea class="form-control" id="inputField" rows="3"></textarea>
        <label for="inputField">Input the board</label>
    </div>
</body>

</html>